{{/* 
    GetTOC

    This partial gets the url for [TOC] for a given page. 
    
    {{$contents := partial "func/GetTOC.html" .}}
    {{- replaceRE "<p>\\[TOC\\]</p>" (printf "<div class=\"contents\">%s</div>" $contents) .Content | safeHTML -}}

    @return Permalink list string

*/}}

{{/* Declare a new string variable */}}
{{ $contents := "" }}

{{range (split .RawContent "\n")}}
{{if (hasPrefix . "# ")}}
    {{ $item := replace (lower .) "#" ""}}
    {{ $item = trim $item " \n\r"}}
    {{- $trimed := replace $item " " "-" -}}
    {{ $contents = printf "%s<a href=\"#%s\">%s</a><br>" $contents $trimed .}} 
    {{else if hasPrefix . "## "}}
    {{ $item := replace (lower .) "##" ""}}
    {{ $item = trim $item " \n\r"}}
    {{- $trimed := replace $item " " "-" -}}
    {{ $contents = printf "%s<a href=\"#%s\">%s</a><br>" $contents $trimed .}}
{{end}}
{{end}}

{{ return $contents }}