{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ $cover_dimming_class := .Params.cover_dimming_class | default .Site.Params.cover_dimming_class | default "bg-black-60" }}
{{ $subheadline_class := .Params.subheadline_class | default "white-90"}}
{{ $description_class := .Params.description_class | default "white-80"}}
{{ $headerpad_class := .Params.headerpad_class | default "tc-l pv6 pv1 ph3 ph4-ns"}}

{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');background-position: center bottom;">
    <div class="pb3-m pb6-l {{$cover_dimming_class}}">
      {{ partial "site-navigation.html" . }}
      <div class="{{$headerpad_class}}">
        {{ if not .Params.omit_header_text }}
          <h1 class="f2 f1-l fw2 {{$subheadline_class}} mb0 lh-title">{{ .Title | default .Site.Title }}</h1>
          {{ with .Params.description  }}
            <h2 class="fw1 f5 f3-l {{$description_class}} measure-wide-l center lh-copy mt3 mb4">
              {{ htmlUnescape . }}
            </h2>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}

