{{$currentpage := .}}
{{ with $.Params.reveal }}
    <link rel="stylesheet" href="/revealjs-v3.9.2/css/reveal.css">
    <link rel="stylesheet" href="/revealjs-v3.9.2/css/theme/white.css" id="theme">
    <link rel="stylesheet" href="/revealjs-v3.9.2/lib/css/monokai.css">
    <style>
    .logo { z-index: 999; position: relative; }
    .reveal img { border: 4px solid #bab3cb87 !important; }
    .reveal {
        position: fixed !important;
        width: 100vw !important;
        height: 100vh !important;
        overflow: hidden;
        top: 0;
        left: 0;
        z-index: 2;
        background: white;
    }
    footer { position: fixed; bottom:0; }
    #player {
        position: fixed; 
        z-index: 999;
        top: 64px;
        left: 72px;
    }
    @media (min-width: 800px) {
        .reveal img { max-height: 50vh; }
    }
    </style>

    <!-- <script src="/js/mathjax-v3.0.1-tex-mml-chtml.js"></script> -->
    <!-- <script src="/js/mermaid-v8.4.6.min.js"></script> -->
    <script src="/revealjs-v3.9.2/js/reveal.js"></script>
    <script>

    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        math: {
            // mathjax: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.8.0/MathJax.js',
            // mathjax: "/js/mathjax-v3.0.1-tex-mml-chtml.js",
            config: 'TeX-AMS_HTML-full',
            TeX: {
                Macros: {
                    R: '\\mathbb{R}',
                    set: [ '\\left\\{#1 \\; ; \\; #2\\right\\}', 2 ]
                }
            }
        },

        // plugins: [ RevealMath ]

        // Optional libraries used to extend on reveal.js
        dependencies: [
            { src: '/revealjs-v3.9.2/plugin/math/math.js', },
            { src: '/revealjs-v3.9.2/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '/revealjs-v3.9.2/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '/revealjs-v3.9.2/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: '/revealjs-v3.9.2/plugin/notes/notes.js' }
        ]
    });

    </script>

    {{if $currentpage.Params.bgmaudio }}
    <a id="player" href="javascript:void(0);" onclick="toggleBGM(this)">💛</a>
    <audio id="bgm" src="{{$currentpage.Params.bgmaudio}}"></audio>
    <script>
        function muteBGM()
        {
            var bgm = document.getElementById("bgm");
            bgm.pause();
        }
        function initAudio()
        {
            var as = document.getElementsByTagName("audio");
            for (var i = as.length - 1; i >= 0; i--) {
                console.log(as[i]);
                if(as[i].id=="bgm") continue;
                as[i].onplay = e => console.log(e);
                as[i].onplaying = e => console.log(e);
                as[i].onplay = e => { muteBGM(); };
            }
        }
        function muteVideo()
        {
            var vs = document.getElementsByTagName("video");
            for (var i = vs.length - 1; i >= 0; i--) {
                vs[i].pause();
            }
        }
        function initVideo()
        {
            var vs = document.getElementsByTagName("video");
            for (var i = vs.length - 1; i >= 0; i--) {
                console.log(vs[i]);
                vs[i].onplay = e => console.log(e);
                vs[i].onplaying = e => console.log(e);
                vs[i].onplay = e => { muteBGM(); };
            }
        }
        document.onreadystatechange = onload;
        // no complete for DOMContentLoaded when 404
        // document.addEventListener('DOMContentLoaded', onload); 
        // window.addEventListener('DOMContentLoaded', onload);
        function onload (e){
            console.log(document.readyState)
            if (document.readyState != "complete") return;
            initVideo();
            initAudio();
        }
        function toggleBGM(it)
        {
            var bgm = document.getElementById("bgm");
            if (bgm.paused){ 
                muteVideo();
                bgm.play();
            }else{
                bgm.pause();
            }
            it.innerHTML = bgm.paused? "💛":"🧡";
            return !bgm.paused;
        }
    </script>
    {{end}}

{{ end }}
